<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP PAGE</title>
</head>
<body>
    <h1 style="text-align:center; background-color: #f2f2f2; padding: 15px;">SIGN UP PAGE</h1>
    <div style="text-align:center; background-color: #f2f2f2; padding: 15px;">
    <form action="/signup" method="post">
        <label style="font-weight: bold;">Username:</label><br>
        <input type="text" name="username" style="padding: 10px; width: 200px;"><br>
        <label style="font-weight: bold;">Password:</label><br>
        <input type="password" name="password" style="padding: 10px; width: 200px;"><br>
        <label style="font-weight: bold;">Confirm Password:</label><br>
        <input type="submit" value="Signup" style="padding: 10px; width: 80px;">
    </form>
    </div>
</body>
</html>